#WebImblaze Files to ignore

http.txt
results.html
results.xml
*.tmp
output/
temp/
blocker/
WebInjectSelenium.pm
WebImblazeSelenium.pm
tests/*.test
tests/*.xml
tests/*.csv
parse_error/
session.config
debug.log