<root>
    <testcasefile>examples/simple.xml</testcasefile>
    <globalretry>20</globalretry> <!-- Global limit for the number of retries for a test run --> 
    <globaljumpbacks>5</globaljumpbacks> <!-- Global limit for the number of usages of retryfromstep for a test run --> 
    <userdefined> 
        <totaljobs>www.totaljobs.com</totaljobs> <!-- web site base url --> 
        <wic>webinject-check.azurewebsites.net</wic> <!-- WEBINJECT-CHECK web site base url --> 
    </userdefined> 
    <autoassertions> 
       <autoassertion1>^((?!HTTP Error 404.0 . Not Found).)*$|||Page not found error</autoassertion1> 
    </autoassertions> 
    <smartassertions> 
       <smartassertion1>Set\-Cookies: |||Cache\-Control: private|Cache\-Control: no\-cache|||Must have a Cache-Control of private or no-cache when a cookie is set</smartassertion1> 
    </smartassertions>
    <windows>
        <chromedriver-binary>C:\selenium\chromedriver.exe</chromedriver-binary>
        <selenium-binary>C:\selenium\selenium-server-standalone-3.11.0.jar</selenium-binary>
    </windows>
    <linux>
        <chromedriver-binary>/usr/local/bin/selenium/chromedriver</chromedriver-binary>
        <selenium-binary>/usr/local/bin/selenium/selenium-server-standalone-3.11.0.jar</selenium-binary>
    </linux>
</root> 
